# Entorno virtual
venv/
ENV/
env/

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Configuraciones de sistema
.DS_Store       # macOS
Thumbs.db       # Windows

# Archivos de logs
*.log

# Archivos de bases de datos locales
*.sqlite3
*.db

# Archivos de Flask / Werkzeug
instance/
.webassets-cache

# Configuraciones del editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos de distribución / empaquetado
*.egg
*.egg-info/
dist/
build/
.eggs/
